@model SCOP_AppWeb.Models.Devoluciones

@{
    ViewData["Title"] = "Cancelar Devolución";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Estás seguro que deseas cancelar la devolución?</h3>

<style>
    .content {
        background-color: cadetblue;
    }

    .color {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
    }

    .letra {
        color: black;
    }
</style>
<body class=" color letra">
<div>
    <h4>Devolución</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdenProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenProduccion)
        </dd>            
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImporteDevolucion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImporteDevolucion)
        </dd>       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDevolucion" />
        <input type="submit" value="Cancelar" class="btn btn-danger btn-effect" /> |
        <a asp-action="Index" class="btn btn-primary btn-effect">Volver a lista</a>
    </form>
</div>
</body>