@model SCOP_AppWeb.Models.Requisiciones

@{
    ViewData["Title"] = "Cancelar requisición";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cancelar</h1>

<h3>¿Estás seguro que deseas cancelar la requisición?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdOrdenProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenProduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoRequisicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoRequisicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoRequisicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoRequisicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoActivo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdRequisicion" />
        <input type="submit" value="Cancelar la requisición" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>

    <div>
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Mensaje"]
            </div>
        }
    </div>

</div>
