@model IEnumerable<SCOP_AppWeb.Models.Requisiciones>

@{
    ViewData["Title"] = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de requisiciones</h1>

<p>
    <div class="d-inline-block mb-2">
        <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
        <a asp-action="Buscar" class="btn btn-primary">
            Buscar Requisiciones
        </a>
    </div>
    @if (ViewBag.MostrarActivos)
    {
        <a asp-action="FiltrarRequisiciones" asp-route-mostrarActivos="false" class="btn btn-secondary ml-2">Mostrar canceladas</a>
    }
    else
    {
        <a asp-action="FiltrarRequisiciones" asp-route-mostrarActivos="true" class="btn btn-secondary ml-2">Ocultar canceladas</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenProduccion)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.EstadoActivo == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoActivo)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.IdRequisicion" class="btn btn-success">Editar</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdRequisicion" class="btn btn-danger">Cancelar</a>
                            </div>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr class="text-muted">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoActivo)
                    </td>
                    <td>
                      
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
