@model IEnumerable<SCOP_AppWeb.Models.Requisiciones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRequisicion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRequisicion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRequisicion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
