@model IEnumerable<SCOP_AppWeb.Models.Requisiciones>

@{
    ViewData["Title"] = "Requisiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="letra">Lista de requisiciones</h1>
<style>
    body {
        background-image: url('/img/rayas.jpg');
        background-position: center center;
        --background-size: cover; /* Para cubrir todo el fondo */
        --background-position: center; /* Posición de la imagen */
        --background-repeat: no-repeat;
        background-size: 100% 300px;
        height: 100vh;
        font-family: 'Lobster', cursive;
    }


    .boton {
        color: #0a0a0a;
        background: linear-gradient(#747871, #FFFFFF);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .fondotabla {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
        border-radius: 5px;
    }

    .letra {
        color: white;
    }
</style>
<p>
    <div class="d-inline-block mb-2">
        <a asp-action="Create" class="btn btn-success btn-effect">Añadir requisición</a>
        <a asp-action="Buscar" class="btn btn-primary btn-effect">
            Buscar requisiciones
        </a>

    </div>
    @if (ViewBag.MostrarActivos)
    {
        <a asp-action="FiltrarRequisiciones" asp-route-mostrarActivos="false" class="btn btn-secondary ml-2 btn-effect">Mostrar canceladas</a>
    }
    else
    {
        <a asp-action="FiltrarRequisiciones" asp-route-mostrarActivos="true" class="btn btn-secondary ml-2 btn-effect">Ocultar canceladas</a>
    }

     @if (ViewBag.MostrarActivos)
    {
        @if (ViewBag.OrdenarPor.Equals("Requisición"))
        {
            <form asp-action="Index" asp-controller="Requisiciones" method="get">
                <input type="hidden" name="ordenarPorIdOrdenProduccion" value="true" />
                <p>
                    <button type="submit" class="btn btn-dark ">Ordenar por ID de Orden de Producción</button>
                </p>
            </form>
        }
        else
        {
            <form asp-action="Index" asp-controller="Requisiciones" method="get">
                <input type="hidden" name="ordenarPorIdOrdenProduccion" value="false" />
                <p>
                    <button type="submit" class="btn btn-dark ">Ordenar por ID de Requisición</button>
                </p>
            </form>
        }

    }

</p>
<table class="table fondotabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.EstadoActivo == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoActivo)
                    </td>
                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.IdRequisicion" class="btn boton">Editar</a> |
                                <a asp-action="Delete" asp-route-id="@item.IdRequisicion" class="btn boton">Cancelar</a>
                            </div>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr class="text-muted">
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoRequisicion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoActivo)
                    </td>
                    <td>
                      
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
