@model IEnumerable<SCOP_AppWeb.Models.Requisiciones>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoRequisicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoRequisicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActivo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
