@model IEnumerable<SCOP_AppWeb.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="letra">Registro</h1>

<p>
    <a asp-action="RegistrarUsuario" class="btn btn-primary">Registrar Usuario</a>
</p>

<style>
    .fondo {
        background-image: url('/img/rayas.jpg');
        background-position: center center;
        --background-size: cover; /* Para cubrir todo el fondo */
        --background-position: center; /* Posición de la imagen */
        --background-repeat: no-repeat;
        background-size: 100% 300px;
        height: 100vh;
        font-family: 'Lobster', cursive;
    }


    .fondotabla {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
        border-radius: 5px;
    }

    .boton {
        color: #0a0a0a;
        background: linear-gradient(#747871, #FFFFFF);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .letra {
        color: white;
    }

    .boton2 {
        color: #0a0a0a;
        background: linear-gradient(#747871, #FFFFFF);
        border-radius: 5px;
        margin-bottom: 10px;
    }
</style>
<body class="fondo">
<table class="table fondotabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idRol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restablecer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estadoActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restablecer)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.idUsuario" class="btn boton">Modificar</a>
                        <a asp-action="Inactivar" asp-route-id="@item.idUsuario" class="btn boton">Inactivar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>