@model IEnumerable<SCOP_AppWeb.Models.RegistroAuditoria>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="letra">Lista Auditoria</h1>
<style>
    .fondo {
        background-image: url('/img/img/rayas.jpg');
        background-position: center center;
        --background-size: cover; /* Para cubrir todo el fondo */
        --background-position: center; /* Posición de la imagen */
        --background-repeat: no-repeat;
        background-size: 100% 300px;
        height: 100vh;
        font-family: 'Lobster', cursive;
    }


    .fondotabla {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
        border-radius: 5px;
    }

    .boton {
        color: #0a0a0a;
        background: linear-gradient(#747871, #FFFFFF);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .letra {
        color: black;
    }
</style>



<body class="fondo">

<table class="table fondotabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TablaModificada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TablaModificada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>          
        </tr>
}
    </tbody>
</table>
</body>