@model SCOP_AppWeb.Models.OrdenProduccion

@{
    ViewData["Title"] = "Cancelar orden de producción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cancelar orden de producción</h1>

<h3>Está seguro de que desea cancelar la orden de producción?</h3>

<style>
    .content {
        background-color: cadetblue;
    }

    .color {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
    }

    .letra {
        color: black;
    }
</style>
<body class="color letra">
<div>
    <h4>Orden producción</h4>
    <hr />
    @if (TempData["MensajeError"] != null)
    {
        <div class="alert alert-warning" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            <strong>@TempData["MensajeError"]</strong>
        </div>
    }
        <dl class="row mx-auto" style="border: 1px solid #ccc; padding: 20px; border-radius: 10px;">
        <dt class = "col-sm-2">
            ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdOrdenProduccion)
        </dd>
        <dt class = "col-sm-2">
            Fecha de recepción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRecepcion)
        </dd>
        <dt class = "col-sm-2">
            Estado de producción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProduccion)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de productos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProductos)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrdenProduccion" />
        <input type="submit" value="Cancelar orden" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</body>