@model IEnumerable<SCOP_AppWeb.Models.OrdenProduccion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="RegistrarOrdenProduccion">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>     
            <th>
                @Html.DisplayNameFor(model => model.IdOrdenProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRecepcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoProduccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProductos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.EstadoActivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProductos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoActivo)
            </td>
            <td>

                <a asp-action="Edit" asp-route-id="@item.IdOrdenProduccion" class="btn btn-success">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdenProduccion" class="btn btn-danger">Cancelar</a> |
                <a asp-action="Finalizar" asp-route-id="@item.IdOrdenProduccion" class="btn btn-danger">Finalizar</a>

        </tr>
}
    </tbody>
</table>
