@model IEnumerable<SCOP_AppWeb.Models.OrdenProduccion>

@{
    ViewData["Title"] = "Órdenes de producción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="letra">Órdenes de producción</h1>

<p>
    <a asp-action="RegistrarOrdenProduccion" class="btn btn-success">Agregar Orden</a>
</p>

<style>
    .fondo {
        background-image: url('/img/rayas.jpg');
        background-position: center center;
        --background-size: cover; /* Para cubrir todo el fondo */
        --background-position: center; /* Posición de la imagen */
        --background-repeat: no-repeat;
        background-size: 100% 300px;
        height: 100vh;
        font-family: 'Lobster', cursive;
    }


    .fondotabla {
        background-color: #F0FFFF;
        font-family: 'Lobster', cursive;
        border-radius: 5px;
    }

    .boton {
        color: #0a0a0a;
        background: linear-gradient(#747871, #FFFFFF);
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .letra {
        color: white;
    }
</style>


<body class="fondo">
    <table class="table fondotabla">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha recepción
            </th>
            <th>
                Estado producción
            </th>
            <th>
                Cantidad de productos
            </th>
            <th>
                Descripción
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProductos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>            
            <td>
                        <a asp-action="Edit" asp-route-id="@item.IdOrdenProduccion" class="btn boton">Editar</a> |
                        <a asp-action="Finalizar" asp-route-id="@item.IdOrdenProduccion" class="btn boton">Finalizar</a> |
                        <a asp-action="Produccion" asp-route-id="@item.IdOrdenProduccion" class="btn boton">Produccion</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdOrdenProduccion" class="btn boton">Cancelar</a>

                    </td>
        </tr>
}
    </tbody>
</table>
</body>