@model IEnumerable<SCOP_AppWeb.Models.OrdenProduccion>

@{
    ViewData["Title"] = "Órdenes de producción";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Órdenes de producción</h1>

<p>
    <a asp-action="RegistrarOrdenProduccion" class="btn btn-success">Agregar Orden</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Fecha recepción
            </th>
            <th>
                Estado producción
            </th>
            <th>
                Cantidad de productos
            </th>
            <th>
                Descripción
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrdenProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecepcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoProduccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProductos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrdenProduccion" class="btn btn-primary">Editar</a> |
                <a asp-action="Finalizar" asp-route-id="@item.IdOrdenProduccion" class="btn btn-warning">Finalizar</a> |
                <a asp-action="Produccion" asp-route-id="@item.IdOrdenProduccion" class="btn btn-warning">Produccion</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdenProduccion" class="btn btn-danger">Cancelar</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
