@model SCOP_AppWeb.Models.OrdenProduccion

@{
    ViewData["Title"] = "Produccion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Produccion</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrdenProduccion</h4>
    <hr />
    @if (TempData["MensajeError"] != null)
    {
        <div class="alert alert-warning" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            <strong>@TempData["MensajeError"]</strong>
        </div>
    }
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRecepcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRecepcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoProduccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoProduccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadProductos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadProductos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoActivo)
        </dd>
    </dl>
    
    <form asp-action="Produccion">
        <input type="hidden" asp-for="IdOrdenProduccion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
